@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexWrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin flexEnd {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin W-full {
    width: 100%;
}

@mixin H-full {
    height: 100%;
}