/*
|--------------------------------------------------------------------------
|                       IMPORT MIXINS & VARIABLES
|--------------------------------------------------------------------------
*/

@import './mixins.scss';
@import './variables.scss';

/*
|--------------------------------------------------------------------------
|                           IMPORT COMPONENTS
|--------------------------------------------------------------------------
*/

@import '../components/category-item.styles.scss';
@import '../components/directory.styles.scss';
@import '../components/navigation.styles.scss';
@import '../components/form-input.styles.scss';
@import '../components/sign-in-form.styles.scss';
@import '../components/sign-up-form.styles.scss';
@import "../components/button.styles.scss";
@import '../components/authentication.styles.scss';
@import '../components/product-card.styles.scss';
@import '../components/shop.styles.scss';
@import '../components/cart-icon.styles.scss';
@import '../components/cart-dropdown.styles.scss';
@import '../components/cart-item.styles.scss';
@import '../components/checkout.styles.scss';
@import '../components/checkout-item.styles.scss';


/*
|--------------------------------------------------------------------------
|                         CONFIGURATION GENERALE
|--------------------------------------------------------------------------
*/

* {
    font-family: 'helvetica';
    box-sizing: border-box;
    font-family: $openSans;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 20px 40px;
}

a {
    color: black;
}